@import url("/home/marcel/.config/io.github.martimm.dispatcher/dispatcher.css");

/*--[Changes]-----------------------------------------------------------------*/
/*
.container-grid {
  border-image-width: 0px;
  border-image-source: none;
}
*/

.session-frame {
  background-image: url('/home/marcel/.config/io.github.martimm.dispatcher/Images/brushed-copper.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.session-toolbar {
  background-image: url('/home/marcel/.config/io.github.martimm.dispatcher/Images/brushed-dark.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

  padding: 5px;
  margin: 0px;
}

.session-frame-label {
  color: rgb(71, 0, 71);
  background-color: rgba(255, 209, 255, 0.3);
  font-weight: bold;
  font-size: 14pt;
  border-radius: 10px;

  padding-left: 10px;
  padding-right: 10px;
}

.group-session-label {
  /* Bug: Fails to change width and height properly */
  /*transform: rotate(-90deg);*/

  color: rgb(71, 0, 71);
  background-color: rgba(255, 209, 255, 0.3);
  font-weight: bold;
  font-size: 14pt;
  border-radius: 10px;

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  padding: 0px;

}

.session-toolbar-button {
  background-image: none;
  background-color: transparent;
}

.session-button {
  /*
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  background-image: none;
  background: transparent;
  */

  border-top: 5px solid rgb(254, 174, 246);
  border-left: 5px solid rgb(254, 174, 246);
  border-right: 5px solid rgb(147, 3, 119);
  border-bottom: 5px solid rgb(147, 3, 119);
  border-radius: 20px;

  padding: 5px;
  margin: 0px;
}

.overlay-pic {

  border-top: 5px solid rgb(254, 174, 246);
  border-left: 5px solid rgb(254, 174, 246);
  border-right: 5px solid rgb(147, 3, 119);
  border-bottom: 5px solid rgb(147, 3, 119);
  border-radius: 10px;

  padding: 0px;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


