#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/marcel/Languages/Raku/Projects/Tools/Dispatcher/bin/dispatcher.raku --config='%u'
GenericName[en_US]=
GenericName=
MimeType=application/x-dispatcher;
Name[en_US]=dispatcher.raku
Name=dispatcher.raku
NoDisplay=true
Path=/home/marcel/Languages/Raku/Projects/Tools/Dispatcher
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
